/*!*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css *!*/

/*html {*/
    /*font-family: sans-serif;*/
    /*-ms-text-size-adjust: 100%;*/
    /*-webkit-text-size-adjust: 100%*/
/*}*/

/*body {*/
    /*margin: 0*/
/*}*/

/*article,*/
/*aside,*/
/*details,*/
/*figcaption,*/
/*figure,*/
/*footer,*/
/*header,*/
/*hgroup,*/
/*main,*/
/*menu,*/
/*nav,*/
/*section,*/
/*summary {*/
    /*display: block*/
/*}*/

/*audio,*/
/*canvas,*/
/*progress,*/
/*video {*/
    /*display: inline-block;*/
    /*vertical-align: baseline*/
/*}*/

/*audio:not([controls]) {*/
    /*display: none;*/
    /*height: 0*/
/*}*/

/*[hidden],*/
/*template {*/
    /*display: none*/
/*}*/

/*a {*/
    /*background-color: transparent*/
/*}*/

/*a:active,*/
/*a:hover {*/
    /*outline: 0*/
/*}*/

/*abbr[title] {*/
    /*border-bottom: 1px dotted*/
/*}*/

/*b,*/
/*strong {*/
    /*font-weight: bold*/
/*}*/

/*dfn {*/
    /*font-style: italic*/
/*}*/

/*h1 {*/
    /*font-size: 2em;*/
    /*margin: 0.67em 0*/
/*}*/

/*mark {*/
    /*background: #ff0;*/
    /*color: #000*/
/*}*/

/*small {*/
    /*font-size: 80%*/
/*}*/

/*sub,*/
/*sup {*/
    /*font-size: 75%;*/
    /*line-height: 0;*/
    /*position: relative;*/
    /*vertical-align: baseline*/
/*}*/

/*sup {*/
    /*top: -0.5em*/
/*}*/

/*sub {*/
    /*bottom: -0.25em*/
/*}*/

/*img {*/
    /*border: 0*/
/*}*/

/*svg:not(:root) {*/
    /*overflow: hidden*/
/*}*/

/*figure {*/
    /*margin: 1em 40px*/
/*}*/

/*hr {*/
    /*box-sizing: content-box;*/
    /*height: 0*/
/*}*/

/*pre {*/
    /*overflow: auto*/
/*}*/

/*code,*/
/*kbd,*/
/*pre,*/
/*samp {*/
    /*font-family: monospace, monospace;*/
    /*font-size: 1em*/
/*}*/

/*button,*/
/*input,*/
/*optgroup,*/
/*select,*/
/*textarea {*/
    /*color: inherit;*/
    /*font: inherit;*/
    /*margin: 0*/
/*}*/

/*button {*/
    /*overflow: visible*/
/*}*/

/*button,*/
/*select {*/
    /*text-transform: none*/
/*}*/

/*button,*/
/*html input[type='button'],*/
/*input[type='reset'],*/
/*input[type='submit'] {*/
    /*-webkit-appearance: button;*/
    /*cursor: pointer*/
/*}*/

/*button[disabled],*/
/*html input[disabled] {*/
    /*cursor: default*/
/*}*/

/*button::-moz-focus-inner,*/
/*input::-moz-focus-inner {*/
    /*border: 0;*/
    /*padding: 0*/
/*}*/

/*input {*/
    /*line-height: normal*/
/*}*/

/*input[type='checkbox'],*/
/*input[type='radio'] {*/
    /*box-sizing: border-box;*/
    /*padding: 0*/
/*}*/

/*input[type='number']::-webkit-inner-spin-button,*/
/*input[type='number']::-webkit-outer-spin-button {*/
    /*height: auto*/
/*}*/

/*input[type='search'] {*/
    /*-webkit-appearance: textfield;*/
    /*box-sizing: content-box*/
/*}*/

/*input[type='search']::-webkit-search-cancel-button,*/
/*input[type='search']::-webkit-search-decoration {*/
    /*-webkit-appearance: none*/
/*}*/

/*fieldset {*/
    /*border: 1px solid #c0c0c0;*/
    /*margin: 0 2px;*/
    /*padding: 0.35em 0.625em 0.75em*/
/*}*/

/*legend {*/
    /*border: 0;*/
    /*padding: 0*/
/*}*/

/*textarea {*/
    /*overflow: auto*/
/*}*/

/*optgroup {*/
    /*font-weight: bold*/
/*}*/

/*table {*/
    /*border-collapse: collapse;*/
    /*border-spacing: 0*/
/*}*/

/*td,*/
/*th {*/
    /*padding: 0*/
/*}*/

/**,*/
/**::before,*/
/**::after {*/
    /*box-sizing: border-box*/
/*}*/

/*a:focus {*/
    /*color: inherit*/
/*}*/

/*img {*/
    /*max-width: 100%*/
/*}*/

/*form {*/
    /*margin: 0*/
/*}*/

/*@media only screen and (max-width: 989px) {*/
    /*input,*/
    /*textarea,*/
    /*select {*/
        /*font-size: 16px*/
    /*}*/
/*}*/

/*button,*/
/*input[type="submit"],*/
/*label[for] {*/
    /*cursor: pointer*/
/*}*/

/*optgroup {*/
    /*font-weight: 700*/
/*}*/

/*option {*/
    /*color: #000;*/
    /*background-color: #fff*/
/*}*/

/*[tabindex='-1']:focus {*/
    /*outline: none*/
/*}*/

/*a,*/
/*button,*/
/*[role="button"],*/
/*input,*/
/*label,*/
/*select,*/
/*textarea {*/
    /*touch-action: manipulation*/
/*}*/

/*.clearfix {*/
    /**zoom: 1*/
/*}*/

/*.clearfix::after {*/
    /*content: '';*/
    /*display: table;*/
    /*clear: both*/
/*}*/

/*.visually-hidden {*/
    /*position: absolute !important;*/
    /*overflow: hidden;*/
    /*clip: rect(0 0 0 0);*/
    /*height: 1px;*/
    /*width: 1px;*/
    /*margin: -1px;*/
    /*padding: 0;*/
    /*border: 0*/
/*}*/

/*.js-focus-hidden:focus {*/
    /*outline: none*/
/*}*/

/*.label-hidden {*/
    /*position: absolute !important;*/
    /*overflow: hidden;*/
    /*clip: rect(0 0 0 0);*/
    /*height: 1px;*/
    /*width: 1px;*/
    /*margin: -1px;*/
    /*padding: 0;*/
    /*border: 0*/
/*}*/

/*.no-placeholder .label-hidden {*/
    /*position: inherit !important;*/
    /*overflow: auto;*/
    /*clip: auto;*/
    /*width: auto;*/
    /*height: auto;*/
    /*margin: 0*/
/*}*/

/*.visually-shown {*/
    /*position: inherit !important;*/
    /*overflow: auto;*/
    /*clip: auto;*/
    /*width: auto;*/
    /*height: auto;*/
    /*margin: 0*/
/*}*/

/*.no-js:not(html) {*/
    /*display: none*/
/*}*/

/*.no-js .no-js:not(html) {*/
    /*display: block*/
/*}*/

/*.no-js .js {*/
    /*display: none*/
/*}*/

/*.supports-no-cookies:not(html) {*/
    /*display: none*/
/*}*/

/*html.supports-no-cookies .supports-no-cookies:not(html) {*/
    /*display: block*/
/*}*/

/*html.supports-no-cookies .supports-cookies {*/
    /*display: none*/
/*}*/

/*.skip-link:focus {*/
    /*position: absolute !important;*/
    /*overflow: auto;*/
    /*clip: auto;*/
    /*width: auto;*/
    /*height: auto;*/
    /*margin: 0;*/
    /*color: #000;*/
    /*background-color: #fff;*/
    /*padding: 15px;*/
    /*z-index: 10000;*/
    /*transition: none*/
/*}*/

/*.grid {*/
    /**zoom: 1;*/
    /*list-style: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*margin-left: -30px*/
/*}*/

/*.grid::after {*/
    /*content: '';*/
    /*display: table;*/
    /*clear: both*/
/*}*/

/*.grid__item {*/
    /*float: left;*/
    /*padding-left: 30px;*/
    /*width: 100%*/
/*}*/

/*.grid__item[class*='--push'] {*/
    /*position: relative*/
/*}*/

/*.grid--rev {*/
    /*direction: rtl;*/
    /*text-align: left*/
/*}*/

/*.grid--rev>.grid__item {*/
    /*direction: ltr;*/
    /*text-align: left;*/
    /*float: right*/
/*}*/

/*.one-whole {*/
    /*width: 100%*/
/*}*/

/*.one-half {*/
    /*width: 50%*/
/*}*/

/*.one-third {*/
    /*width: 33.33333%*/
/*}*/

/*.two-thirds {*/
    /*width: 66.66667%*/
/*}*/

/*.one-quarter {*/
    /*width: 25%*/
/*}*/

/*.two-quarters {*/
    /*width: 50%*/
/*}*/

/*.three-quarters {*/
    /*width: 75%*/
/*}*/

/*.one-fifth {*/
    /*width: 20%*/
/*}*/

/*.two-fifths {*/
    /*width: 40%*/
/*}*/

/*.three-fifths {*/
    /*width: 60%*/
/*}*/

/*.four-fifths {*/
    /*width: 80%*/
/*}*/

/*.one-sixth {*/
    /*width: 16.66667%*/
/*}*/

/*.two-sixths {*/
    /*width: 33.33333%*/
/*}*/

/*.three-sixths {*/
    /*width: 50%*/
/*}*/

/*.four-sixths {*/
    /*width: 66.66667%*/
/*}*/

/*.five-sixths {*/
    /*width: 83.33333%*/
/*}*/

/*.one-eighth {*/
    /*width: 12.5%*/
/*}*/

/*.two-eighths {*/
    /*width: 25%*/
/*}*/

/*.three-eighths {*/
    /*width: 37.5%*/
/*}*/

/*.four-eighths {*/
    /*width: 50%*/
/*}*/

/*.five-eighths {*/
    /*width: 62.5%*/
/*}*/

/*.six-eighths {*/
    /*width: 75%*/
/*}*/

/*.seven-eighths {*/
    /*width: 87.5%*/
/*}*/

/*.one-tenth {*/
    /*width: 10%*/
/*}*/

/*.two-tenths {*/
    /*width: 20%*/
/*}*/

/*.three-tenths {*/
    /*width: 30%*/
/*}*/

/*.four-tenths {*/
    /*width: 40%*/
/*}*/

/*.five-tenths {*/
    /*width: 50%*/
/*}*/

/*.six-tenths {*/
    /*width: 60%*/
/*}*/

/*.seven-tenths {*/
    /*width: 70%*/
/*}*/

/*.eight-tenths {*/
    /*width: 80%*/
/*}*/

/*.nine-tenths {*/
    /*width: 90%*/
/*}*/

/*.one-twelfth {*/
    /*width: 8.33333%*/
/*}*/

/*.two-twelfths {*/
    /*width: 16.66667%*/
/*}*/

/*.three-twelfths {*/
    /*width: 25%*/
/*}*/

/*.four-twelfths {*/
    /*width: 33.33333%*/
/*}*/

/*.five-twelfths {*/
    /*width: 41.66667%*/
/*}*/

/*.six-twelfths {*/
    /*width: 50%*/
/*}*/

/*.seven-twelfths {*/
    /*width: 58.33333%*/
/*}*/

/*.eight-twelfths {*/
    /*width: 66.66667%*/
/*}*/

/*.nine-twelfths {*/
    /*width: 75%*/
/*}*/

/*.ten-twelfths {*/
    /*width: 83.33333%*/
/*}*/

/*.eleven-twelfths {*/
    /*width: 91.66667%*/
/*}*/

/*.show {*/
    /*display: block !important*/
/*}*/

/*.hide {*/
    /*display: none !important*/
/*}*/

/*.text-left {*/
    /*text-align: left !important*/
/*}*/

/*.text-right {*/
    /*text-align: right !important*/
/*}*/

/*.text-center {*/
    /*text-align: center !important*/
/*}*/

/*@media only screen and (max-width: 749px) {*/
    /*.small--one-whole {*/
        /*width: 100%*/
    /*}*/
    /*.small--one-half {*/
        /*width: 50%*/
    /*}*/
    /*.small--one-third {*/
        /*width: 33.33333%*/
    /*}*/
    /*.small--two-thirds {*/
        /*width: 66.66667%*/
    /*}*/
    /*.small--one-quarter {*/
        /*width: 25%*/
    /*}*/
    /*.small--two-quarters {*/
        /*width: 50%*/
    /*}*/
    /*.small--three-quarters {*/
        /*width: 75%*/
    /*}*/
    /*.small--one-fifth {*/
        /*width: 20%*/
    /*}*/
    /*.small--two-fifths {*/
        /*width: 40%*/
    /*}*/
    /*.small--three-fifths {*/
        /*width: 60%*/
    /*}*/
    /*.small--four-fifths {*/
        /*width: 80%*/
    /*}*/
    /*.small--one-sixth {*/
        /*width: 16.66667%*/
    /*}*/
    /*.small--two-sixths {*/
        /*width: 33.33333%*/
    /*}*/
    /*.small--three-sixths {*/
        /*width: 50%*/
    /*}*/
    /*.small--four-sixths {*/
        /*width: 66.66667%*/
    /*}*/
    /*.small--five-sixths {*/
        /*width: 83.33333%*/
    /*}*/
    /*.small--one-eighth {*/
        /*width: 12.5%*/
    /*}*/
    /*.small--two-eighths {*/
        /*width: 25%*/
    /*}*/
    /*.small--three-eighths {*/
        /*width: 37.5%*/
    /*}*/
    /*.small--four-eighths {*/
        /*width: 50%*/
    /*}*/
    /*.small--five-eighths {*/
        /*width: 62.5%*/
    /*}*/
    /*.small--six-eighths {*/
        /*width: 75%*/
    /*}*/
    /*.small--seven-eighths {*/
        /*width: 87.5%*/
    /*}*/
    /*.small--one-tenth {*/
        /*width: 10%*/
    /*}*/
    /*.small--two-tenths {*/
        /*width: 20%*/
    /*}*/
    /*.small--three-tenths {*/
        /*width: 30%*/
    /*}*/
    /*.small--four-tenths {*/
        /*width: 40%*/
    /*}*/
    /*.small--five-tenths {*/
        /*width: 50%*/
    /*}*/
    /*.small--six-tenths {*/
        /*width: 60%*/
    /*}*/
    /*.small--seven-tenths {*/
        /*width: 70%*/
    /*}*/
    /*.small--eight-tenths {*/
        /*width: 80%*/
    /*}*/
    /*.small--nine-tenths {*/
        /*width: 90%*/
    /*}*/
    /*.small--one-twelfth {*/
        /*width: 8.33333%*/
    /*}*/
    /*.small--two-twelfths {*/
        /*width: 16.66667%*/
    /*}*/
    /*.small--three-twelfths {*/
        /*width: 25%*/
    /*}*/
    /*.small--four-twelfths {*/
        /*width: 33.33333%*/
    /*}*/
    /*.small--five-twelfths {*/
        /*width: 41.66667%*/
    /*}*/
    /*.small--six-twelfths {*/
        /*width: 50%*/
    /*}*/
    /*.small--seven-twelfths {*/
        /*width: 58.33333%*/
    /*}*/
    /*.small--eight-twelfths {*/
        /*width: 66.66667%*/
    /*}*/
    /*.small--nine-twelfths {*/
        /*width: 75%*/
    /*}*/
    /*.small--ten-twelfths {*/
        /*width: 83.33333%*/
    /*}*/
    /*.small--eleven-twelfths {*/
        /*width: 91.66667%*/
    /*}*/
    /*.grid--uniform .small--one-half:nth-child(2n+1),*/
    /*.grid--uniform .small--one-third:nth-child(3n+1),*/
    /*.grid--uniform .small--one-quarter:nth-child(4n+1),*/
    /*.grid--uniform .small--one-fifth:nth-child(5n+1),*/
    /*.grid--uniform .small--one-sixth:nth-child(6n+1),*/
    /*.grid--uniform .small--two-sixths:nth-child(3n+1),*/
    /*.grid--uniform .small--three-sixths:nth-child(2n+1),*/
    /*.grid--uniform .small--one-eighth:nth-child(8n+1),*/
    /*.grid--uniform .small--two-eighths:nth-child(4n+1),*/
    /*.grid--uniform .small--four-eighths:nth-child(2n+1),*/
    /*.grid--uniform .small--five-tenths:nth-child(2n+1),*/
    /*.grid--uniform .small--one-twelfth:nth-child(12n+1),*/
    /*.grid--uniform .small--two-twelfths:nth-child(6n+1),*/
    /*.grid--uniform .small--three-twelfths:nth-child(4n+1),*/
    /*.grid--uniform .small--four-twelfths:nth-child(3n+1),*/
    /*.grid--uniform .small--six-twelfths:nth-child(2n+1) {*/
        /*clear: both*/
    /*}*/
    /*.small--show {*/
        /*display: block !important*/
    /*}*/
    /*.small--hide {*/
        /*display: none !important*/
    /*}*/
    /*.small--text-left {*/
        /*text-align: left !important*/
    /*}*/
    /*.small--text-right {*/
        /*text-align: right !important*/
    /*}*/
    /*.small--text-center {*/
        /*text-align: center !important*/
    /*}*/
/*}*/

/*@media only screen and (min-width: 750px) {*/
    /*.medium-up--one-whole {*/
        /*width: 100%*/
    /*}*/
    /*.medium-up--one-half {*/
        /*width: 50%*/
    /*}*/
    /*.medium-up--one-third {*/
        /*width: 33.33333%*/
    /*}*/
    /*.medium-up--two-thirds {*/
        /*width: 66.66667%*/
    /*}*/
    /*.medium-up--one-quarter {*/
        /*width: 25%*/
    /*}*/
    /*.medium-up--two-quarters {*/
        /*width: 50%*/
    /*}*/
    /*.medium-up--three-quarters {*/
        /*width: 75%*/
    /*}*/
    /*.medium-up--one-fifth {*/
        /*width: 20%*/
    /*}*/
    /*.medium-up--two-fifths {*/
        /*width: 40%*/
    /*}*/
    /*.medium-up--three-fifths {*/
        /*width: 60%*/
    /*}*/
    /*.medium-up--four-fifths {*/
        /*width: 80%*/
    /*}*/
    /*.medium-up--one-sixth {*/
        /*width: 16.66667%*/
    /*}*/
    /*.medium-up--two-sixths {*/
        /*width: 33.33333%*/
    /*}*/
    /*.medium-up--three-sixths {*/
        /*width: 50%*/
    /*}*/
    /*.medium-up--four-sixths {*/
        /*width: 66.66667%*/
    /*}*/
    /*.medium-up--five-sixths {*/
        /*width: 83.33333%*/
    /*}*/
    /*.medium-up--one-eighth {*/
        /*width: 12.5%*/
    /*}*/
    /*.medium-up--two-eighths {*/
        /*width: 25%*/
    /*}*/
    /*.medium-up--three-eighths {*/
        /*width: 37.5%*/
    /*}*/
    /*.medium-up--four-eighths {*/
        /*width: 50%*/
    /*}*/
    /*.medium-up--five-eighths {*/
        /*width: 62.5%*/
    /*}*/
    /*.medium-up--six-eighths {*/
        /*width: 75%*/
    /*}*/
    /*.medium-up--seven-eighths {*/
        /*width: 87.5%*/
    /*}*/
    /*.medium-up--one-tenth {*/
        /*width: 10%*/
    /*}*/
    /*.medium-up--two-tenths {*/
        /*width: 20%*/
    /*}*/
    /*.medium-up--three-tenths {*/
        /*width: 30%*/
    /*}*/
    /*.medium-up--four-tenths {*/
        /*width: 40%*/
    /*}*/
    /*.medium-up--five-tenths {*/
        /*width: 50%*/
    /*}*/
    /*.medium-up--six-tenths {*/
        /*width: 60%*/
    /*}*/
    /*.medium-up--seven-tenths {*/
        /*width: 70%*/
    /*}*/
    /*.medium-up--eight-tenths {*/
        /*width: 80%*/
    /*}*/
    /*.medium-up--nine-tenths {*/
        /*width: 90%*/
    /*}*/
    /*.medium-up--one-twelfth {*/
        /*width: 8.33333%*/
    /*}*/
    /*.medium-up--two-twelfths {*/
        /*width: 16.66667%*/
    /*}*/
    /*.medium-up--three-twelfths {*/
        /*width: 25%*/
    /*}*/
    /*.medium-up--four-twelfths {*/
        /*width: 33.33333%*/
    /*}*/
    /*.medium-up--five-twelfths {*/
        /*width: 41.66667%*/
    /*}*/
    /*.medium-up--six-twelfths {*/
        /*width: 50%*/
    /*}*/
    /*.medium-up--seven-twelfths {*/
        /*width: 58.33333%*/
    /*}*/
    /*.medium-up--eight-twelfths {*/
        /*width: 66.66667%*/
    /*}*/
    /*.medium-up--nine-twelfths {*/
        /*width: 75%*/
    /*}*/
    /*.medium-up--ten-twelfths {*/
        /*width: 83.33333%*/
    /*}*/
    /*.medium-up--eleven-twelfths {*/
        /*width: 91.66667%*/
    /*}*/
    /*.grid--uniform .medium-up--one-half:nth-child(2n+1),*/
    /*.grid--uniform .medium-up--one-third:nth-child(3n+1),*/
    /*.grid--uniform .medium-up--one-quarter:nth-child(4n+1),*/
    /*.grid--uniform .medium-up--one-fifth:nth-child(5n+1),*/
    /*.grid--uniform .medium-up--one-sixth:nth-child(6n+1),*/
    /*.grid--uniform .medium-up--two-sixths:nth-child(3n+1),*/
    /*.grid--uniform .medium-up--three-sixths:nth-child(2n+1),*/
    /*.grid--uniform .medium-up--one-eighth:nth-child(8n+1),*/
    /*.grid--uniform .medium-up--two-eighths:nth-child(4n+1),*/
    /*.grid--uniform .medium-up--four-eighths:nth-child(2n+1),*/
    /*.grid--uniform .medium-up--five-tenths:nth-child(2n+1),*/
    /*.grid--uniform .medium-up--one-twelfth:nth-child(12n+1),*/
    /*.grid--uniform .medium-up--two-twelfths:nth-child(6n+1),*/
    /*.grid--uniform .medium-up--three-twelfths:nth-child(4n+1),*/
    /*.grid--uniform .medium-up--four-twelfths:nth-child(3n+1),*/
    /*.grid--uniform .medium-up--six-twelfths:nth-child(2n+1) {*/
        /*clear: both*/
    /*}*/
    /*.medium-up--show {*/
        /*display: block !important*/
    /*}*/
    /*.medium-up--hide {*/
        /*display: none !important*/
    /*}*/
    /*.medium-up--text-left {*/
        /*text-align: left !important*/
    /*}*/
    /*.medium-up--text-right {*/
        /*text-align: right !important*/
    /*}*/
    /*.medium-up--text-center {*/
        /*text-align: center !important*/
    /*}*/
/*}*/

/*.page-width {*/
    /**zoom: 1;*/
    /*max-width: 1180px;*/
    /*padding: 0 30px;*/
    /*margin: 0 auto*/
/*}*/

/*.page-width::after {*/
    /*content: '';*/
    /*display: table;*/
    /*clear: both*/
/*}*/

/*.icon {*/
    /*display: inline-block;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*vertical-align: middle;*/
    /*fill: currentColor*/
/*}*/

/*.no-svg .icon {*/
    /*display: none*/
/*}*/

/*.icon--wide {*/
    /*width: 40px*/
/*}*/

/*svg.icon:not(.icon--full-color) circle,*/
/*svg.icon:not(.icon--full-color) ellipse,*/
/*svg.icon:not(.icon--full-color) g,*/
/*svg.icon:not(.icon--full-color) line,*/
/*svg.icon:not(.icon--full-color) path,*/
/*svg.icon:not(.icon--full-color) polygon,*/
/*svg.icon:not(.icon--full-color) polyline,*/
/*svg.icon:not(.icon--full-color) rect,*/
/*symbol.icon:not(.icon--full-color) circle,*/
/*symbol.icon:not(.icon--full-color) ellipse,*/
/*symbol.icon:not(.icon--full-color) g,*/
/*symbol.icon:not(.icon--full-color) line,*/
/*symbol.icon:not(.icon--full-color) path,*/
/*symbol.icon:not(.icon--full-color) polygon,*/
/*symbol.icon:not(.icon--full-color) polyline,*/
/*symbol.icon:not(.icon--full-color) rect {*/
    /*fill: inherit;*/
    /*stroke: inherit*/
/*}*/

/*.icon-fallback-text {*/
    /*position: absolute !important;*/
    /*overflow: hidden;*/
    /*clip: rect(0 0 0 0);*/
    /*height: 1px;*/
    /*width: 1px;*/
    /*margin: -1px;*/
    /*padding: 0;*/
    /*border: 0*/
/*}*/

/*.no-svg .icon-fallback-text {*/
    /*position: static !important;*/
    /*overflow: auto;*/
    /*clip: auto;*/
    /*width: auto;*/
    /*height: auto;*/
    /*margin: 0*/
/*}*/

/*.payment-icons {*/
    /*-moz-user-select: "none";*/
    /*-ms-user-select: "none";*/
    /*-webkit-user-select: "none";*/
    /*user-select: "none";*/
    /*cursor: default*/
/*}*/

/*.icon-shopify-logo {*/
    /*width: 77.14286px;*/
    /*height: 22.5px*/
/*}*/

/*.rte img {*/
    /*height: auto*/
/*}*/

/*.rte table {*/
    /*table-layout: fixed*/
/*}*/

/*.rte ul,*/
/*.rte ol {*/
    /*margin: 0 0 15px 30px*/
/*}*/

/*.rte ul {*/
    /*list-style: disc outside*/
/*}*/

/*.rte ul ul {*/
    /*list-style: circle outside*/
/*}*/

/*.rte ul ul ul {*/
    /*list-style: square outside*/
/*}*/

/*.text-center.rte ul,*/
/*.text-center.rte ol,*/
/*.text-center .rte ul,*/
/*.text-center .rte ol {*/
    /*margin-left: 0;*/
    /*list-style-position: inside*/
/*}*/

/*.rte-table {*/
    /*max-width: 100%;*/
    /*overflow: auto;*/
    /*-webkit-overflow-scrolling: touch*/
/*}*/

/*.rte__video-wrapper {*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*max-width: 100%;*/
    /*padding-bottom: 56.25%;*/
    /*height: 0;*/
    /*height: auto*/
/*}*/

/*.rte__video-wrapper iframe {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%*/
/*}*/

/*.rte__table-wrapper {*/
    /*max-width: 100%;*/
    /*overflow: auto;*/
    /*-webkit-overflow-scrolling: touch*/
/*}*/

/*@media only screen and (max-width: 992px) {*/
    /*.responsive-table tfoot {*/
        /*display: block;*/
        /*width: 100%;*/
        /*margin: 20px 0*/
    /*}*/
    /*.responsive-table tfoot .responsive-table-row {*/
        /*display: flex;*/
        /*justify-content: space-between*/
    /*}*/
    /*.responsive-table tfoot .responsive-table-row td {*/
        /*padding: 5px*/
    /*}*/
/*}*/

/*.btn {*/
    /*-moz-user-select: "none";*/
    /*-ms-user-select: "none";*/
    /*-webkit-user-select: "none";*/
    /*user-select: "none";*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    /*display: inline-block;*/
    /*width: auto;*/
    /*text-decoration: none;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*white-space: nowrap;*/
    /*border: 0*/
/*}*/

/*input,*/
/*textarea,*/
/*select {*/
    /*border: 1px solid #f6f6f6;*/
    /*border-radius: 0;*/
    /*max-width: 100%*/
/*}*/

/*input[disabled],*/
/*textarea[disabled],*/
/*select[disabled] {*/
    /*cursor: default;*/
    /*background-color: #000;*/
    /*border-color: #000*/
/*}*/

/*textarea {*/
    /*min-height: 100px*/
/*}*/

/*select {*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    /*background-position: right center;*/
    /*background-image: url(//cdn.shopify.com/s/files/1/2030/2737/t/6/assets/ico-select.svg?10650619377333753312);*/
    /*background-repeat: no-repeat;*/
    /*background-position: right 10px center;*/
    /*background-color: transparent;*/
    /*padding-right: 28px;*/
    /*text-indent: 0.01px;*/
    /*text-overflow: '';*/
    /*cursor: pointer*/
/*}*/

/*.ie9 select {*/
    /*padding-right: 10px;*/
    /*background-image: none*/
/*}*/

/*select::-ms-expand {*/
    /*display: none*/
/*}*/

/*input.input-error,*/
/*select.input-error,*/
/*textarea.input-error {*/
    /*border-color: #000;*/
    /*background-color: #000;*/
    /*color: #000*/
/*}*/

/*.placeholder-svg {*/
    /*display: block;*/
    /*fill: rgba(0, 0, 0, 0.35);*/
    /*background-color: rgba(0, 0, 0, 0.1);*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    /*border: 1px solid rgba(0, 0, 0, 0.2)*/
/*}*/

/*.placeholder-svg--small {*/
    /*width: 480px*/
/*}*/

/*.placeholder-noblocks {*/
    /*padding: 40px;*/
    /*text-align: center*/
/*}*/

/*.placeholder-background {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0*/
/*}*/

/*.placeholder-background .icon {*/
    /*border: 0*/
/*}*/

/*.site-logo {*/
    /*display: block*/
/*}*/

/*.site-logo img {*/
    /*display: block*/
/*}*/

/*.giftcard-qr img {*/
    /*display: block;*/
    /*margin: 0 auto*/
/*}*/

/*.apple-wallet-image {*/
    /*display: block;*/
    /*margin: 0 auto*/
/*}*/

/*@media print {*/
    /*@page {*/
        /*margin: 0.5cm*/
    /*}*/
    /*p {*/
        /*orphans: 3;*/
        /*widows: 3*/
    /*}*/
    /*html,*/
    /*body {*/
        /*background-color: #fff;*/
        /*color: #000*/
    /*}*/
    /*.print-giftcard,*/
    /*.apple-wallet {*/
        /*display: none*/
    /*}*/
/*}*/

/*main>.container {*/
    /*margin-top: 20px*/
/*}*/

/*img {*/
    /*max-width: none*/
/*}*/

/*.pagination {*/
    /*margin-bottom: 20px*/
/*}*/

/*.pagination li {*/
    /*cursor: pointer*/
/*}*/

/*.gallery-dark-theme h2,*/
/*.gallery-dark-theme h3 {*/
    /*font-weight: 300*/
/*}*/

/*.gallery-dark-theme .pagination li a {*/
    /*color: #fff*/
/*}*/

/*.empty-container {*/
    /*padding: 80px 0 100px*/
/*}*/

/*.btn:focus,*/
/*.btn-large:focus {*/
    /*color: #fff*/
/*}*/

/*.date {*/
    /*color: rgba(0, 0, 0, 0.4)*/
/*}*/

/*.tags-wrapper {*/
    /*margin-top: 20px*/
/*}*/

/*.tags-wrapper .tags {*/
    /*margin-top: 10px*/
/*}*/

/*.tags-wrapper .tags .chip {*/
    /*border-radius: 2px;*/
    /*color: rgba(0, 0, 0, 0.6);*/
    /*transition: background-color .2s, color .2s*/
/*}*/

/*.tags-wrapper .tags .chip:hover {*/
    /*background-color: #666;*/
    /*color: #fff*/
/*}*/

/*.tags-wrapper .tags .chip:hover a {*/
    /*color: #fff*/
/*}*/

/*.tags-wrapper .tags .chip a {*/
    /*color: rgba(0, 0, 0, 0.6);*/
    /*transition: color .2s*/
/*}*/

/*.dropdown-content>li>span,*/
/*.dropdown-content>li>a {*/
    /*font-size: 1rem;*/
    /*color: #444*/
/*}*/

/*.select-wrapper span.caret {*/
    /*color: inherit*/
/*}*/

/*td,*/
/*th {*/
    /*padding: 15px 5px*/
/*}*/

/*.social-sharing .tooltipped {*/
    /*margin-right: 10px*/
/*}*/

/*.description {*/
    /*font-size: 22px;*/
    /*font-weight: 300*/
/*}*/

/*a {*/
    /*color: #7db557*/
/*}*/

/*a:focus {*/
    /*color: #70a84a*/
/*}*/

/*.primary-color {*/
    /*background-color: #7db557 !important*/
/*}*/

/*#shopify-section-header>nav {*/
    /*background-color: #7db557*/
/*}*/

/*.gallery-dark-theme #shopify-section-header>nav {*/
    /*background-color: #37474f*/
/*}*/

/*.filter-navbar {*/
    /*background-color: #70a84a*/
/*}*/

/*.pagination li.active {*/
    /*background-color: #7db557*/
/*}*/

/*.btn,*/
/*.btn-large {*/
    /*background-color: #833ac4*/
/*}*/

/*.btn:hover,*/
/*.btn-large:hover {*/
    /*background-color: #8f4dca*/
/*}*/

/*.btn:focus,*/
/*.btn-large:focus {*/
    /*background-color: #692e9d*/
/*}*/

/*span.badge.new {*/
    /*background-color: #833ac4*/
/*}*/

/*input:not([type]):focus:not([readonly]),*/
/*input[type=text]:focus:not([readonly]),*/
/*input[type=password]:focus:not([readonly]),*/
/*input[type=email]:focus:not([readonly]),*/
/*input[type=url]:focus:not([readonly]),*/
/*input[type=time]:focus:not([readonly]),*/
/*input[type=date]:focus:not([readonly]),*/
/*input[type=datetime]:focus:not([readonly]),*/
/*input[type=datetime-local]:focus:not([readonly]),*/
/*input[type=tel]:focus:not([readonly]),*/
/*input[type=number]:focus:not([readonly]),*/
/*input[type=search]:focus:not([readonly]),*/
/*textarea.materialize-textarea:focus:not([readonly]) {*/
    /*border-bottom: 1px solid #833ac4;*/
    /*box-shadow: 0 1px 0 0 #833ac4*/
/*}*/

/*input:not([type]):focus:not([readonly])+label,*/
/*input[type=text]:focus:not([readonly])+label,*/
/*input[type=password]:focus:not([readonly])+label,*/
/*input[type=email]:focus:not([readonly])+label,*/
/*input[type=url]:focus:not([readonly])+label,*/
/*input[type=time]:focus:not([readonly])+label,*/
/*input[type=date]:focus:not([readonly])+label,*/
/*input[type=datetime]:focus:not([readonly])+label,*/
/*input[type=datetime-local]:focus:not([readonly])+label,*/
/*input[type=tel]:focus:not([readonly])+label,*/
/*input[type=number]:focus:not([readonly])+label,*/
/*input[type=search]:focus:not([readonly])+label,*/
/*textarea.materialize-textarea:focus:not([readonly])+label {*/
    /*color: #833ac4*/
/*}*/

/*.shopify-section .featured-product-wrapper .rte span,*/
/*.shopify-section .featured-collection-wrapper .rte span,*/
/*.template-blog .rte p,*/
/*.template-article .rte p {*/
    /*font-size: 18px;*/
    /*line-height: 28px;*/
    /*font-weight: 300*/
/*}*/

/*.shopify-section .right-aligned.featured-product-wrapper .gallery,*/
/*.template-blog .right-aligned.article-wrapper .gallery,*/
/*.template-article .right-aligned.article-wrapper .gallery {*/
    /*flex-direction: row-reverse*/
/*}*/

/*.shopify-section .featured-product-wrapper h2,*/
/*.template-blog .article-wrapper h2,*/
/*.template-article .article-wrapper h2 {*/
    /*margin-top: 0*/
/*}*/

/*.shopify-section .featured-product-wrapper .gallery,*/
/*.template-blog .article-wrapper .gallery,*/
/*.template-article .article-wrapper .gallery {*/
    /*display: flex;*/
    /*align-items: center*/
/*}*/

/*.shopify-section .featured-product-wrapper .gallery-item,*/
/*.template-blog .article-wrapper .gallery-item,*/
/*.template-article .article-wrapper .gallery-item {*/
    /*margin-top: 1.78rem*/
/*}*/

/*.shopify-section .featured-product-wrapper .social-sharing,*/
/*.template-blog .article-wrapper .social-sharing,*/
/*.template-article .article-wrapper .social-sharing {*/
    /*margin-bottom: 20px*/
/*}*/

/*@media only screen and (max-width: 600px) {*/
    /*.shopify-section .featured-product-wrapper,*/
    /*.template-blog .article-wrapper,*/
    /*.template-article .article-wrapper {*/
        /*margin-top: 20px;*/
        /*margin-bottom: 50px*/
    /*}*/
    /*.shopify-section .featured-product-wrapper .gallery,*/
    /*.template-blog .article-wrapper .gallery,*/
    /*.template-article .article-wrapper .gallery,*/
    /*.shopify-section .right-aligned.featured-product-wrapper .gallery,*/
    /*.template-blog .right-aligned.article-wrapper .gallery,*/
    /*.template-article .right-aligned.article-wrapper .gallery {*/
        /*flex-direction: column*/
    /*}*/
/*}*/

/*.gallery-dark-theme .right-aligned.featured-product-wrapper .product-description,*/
/*.gallery-dark-theme .right-aligned.article-wrapper .product-description {*/
    /*margin: 0 30% 0 30px*/
/*}*/

/*.gallery-dark-theme .featured-product-wrapper .product-description,*/
/*.gallery-dark-theme .article-wrapper .product-description {*/
    /*margin: 0 30px 0 30%*/
/*}*/

/*.gallery-dark-theme .featured-product-wrapper .gallery,*/
/*.gallery-dark-theme .article-wrapper .gallery {*/
    /*margin-bottom: 0*/
/*}*/

/*.gallery-dark-theme .featured-product-wrapper .gallery-item,*/
/*.gallery-dark-theme .article-wrapper .gallery-item {*/
    /*margin-top: 0*/
/*}*/

/*@media only screen and (max-width: 992px) {*/
    /*.gallery-dark-theme .featured-product-wrapper,*/
    /*.gallery-dark-theme .article-wrapper {*/
        /*margin-top: 20px;*/
        /*margin-bottom: 50px*/
    /*}*/
    /*.gallery-dark-theme .featured-product-wrapper .product-description,*/
    /*.gallery-dark-theme .article-wrapper .product-description,*/
    /*.gallery-dark-theme .right-aligned.featured-product-wrapper .product-description,*/
    /*.gallery-dark-theme .right-aligned.article-wrapper .product-description {*/
        /*margin: 0 5% 20px*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 600px) {*/
    /*.gallery-dark-theme .featured-product-wrapper .gallery,*/
    /*.gallery-dark-theme .article-wrapper .gallery {*/
        /*display: block*/
    /*}*/
/*}*/

/*.shopify-section h2 {*/
    /*font-size: 40px*/
/*}*/

/*.shopify-section .featured-collection-wrapper {*/
    /*margin-bottom: 50px*/
/*}*/

/*.shopify-section .featured-collection-wrapper h2.collection-title {*/
    /*margin-top: 100px;*/
    /*text-align: center*/
/*}*/

/*.shopify-section .featured-collection-wrapper .gallery {*/
    /*margin-bottom: 0*/
/*}*/

/*.shopify-section .featured-collection-wrapper .rte {*/
    /*margin-bottom: 20px*/
/*}*/

/*.collection-item {*/
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1)*/
/*}*/

/*.collection-item .gallery-header {*/
    /*display: block*/
/*}*/

/*.collection-item .gallery-header .title {*/
    /*margin: 0*/
/*}*/

/*.gallery-dark-theme .shopify-section .product-description h2,*/
/*.gallery-dark-theme .shopify-section .collection-title {*/
    /*color: #fff*/
/*}*/

/*.gallery-dark-theme .featured-product-wrapper .rte,*/
/*.gallery-dark-theme .featured-collection-wrapper .rte {*/
    /*color: rgba(255, 255, 255, 0.87)*/
/*}*/

/*.gallery-dark-theme .featured-collection-wrapper .center {*/
    /*margin-top: 50px*/
/*}*/

/*@media only screen and (max-width: 600px) {*/
    /*.shopify-section .featured-collection-wrapper {*/
        /*margin-top: 20px;*/
        /*margin-bottom: 50px*/
    /*}*/
    /*.shopify-section .featured-collection-wrapper h2.collection-title {*/
        /*margin-top: 0*/
    /*}*/
    /*.shopify-section .featured-collection-wrapper h2.collection-title {*/
        /*text-align: left*/
    /*}*/
/*}*/

/*.shopify-section .page-footer {*/
    /*background-color: #e6e6e6*/
/*}*/

/*.shopify-section .page-footer h5 {*/
    /*font-size: 18px;*/
    /*font-weight: 600;*/
    /*margin-bottom: 20px*/
/*}*/

/*.shopify-section .page-footer .social-icons,*/
/*.shopify-section .page-footer .payment-icons {*/
    /*display: flex;*/
    /*flex-wrap: wrap*/
/*}*/

/*.shopify-section .page-footer .social-icons svg,*/
/*.shopify-section .page-footer .payment-icons svg {*/
    /*fill: #666;*/
    /*margin: 0 48px 20px 0;*/
    /*height: 48px;*/
    /*width: 48px;*/
    /*opacity: .5;*/
    /*transition: opacity .2s*/
/*}*/

/*.shopify-section .page-footer .social-icons svg:hover,*/
/*.shopify-section .page-footer .payment-icons svg:hover {*/
    /*opacity: 1*/
/*}*/

/*.shopify-section .page-footer .social-icons svg {*/
    /*margin: 0 24px 15px 0;*/
    /*height: 24px;*/
    /*width: 24px*/
/*}*/

/*.gallery-dark-theme .shopify-section .page-footer {*/
    /*background-color: rgba(255, 255, 255, 0.05)*/
/*}*/

/*.gallery-dark-theme .shopify-section .page-footer h5 {*/
    /*color: #fff*/
/*}*/

/*.gallery-dark-theme .shopify-section .page-footer .social-icons svg,*/
/*.gallery-dark-theme .shopify-section .page-footer .payment-icons svg {*/
    /*fill: #fff*/
/*}*/

/*.gallery-dark-theme .shopify-section .page-footer .footer-copyright {*/
    /*background-color: transparent*/
/*}*/

/*.popup-search-wrapper {*/
    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*text-align: center;*/
    /*background-color: #fff;*/
    /*padding: 40px;*/
    /*transition: opacity .2s, visibility 0s .2s;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*z-index: 1000*/
/*}*/

/*.popup-search-wrapper.active {*/
    /*visibility: visible;*/
    /*opacity: 1;*/
    /*transition: opacity .3s, visibility 0s*/
/*}*/

/*.popup-search-wrapper form {*/
    /*position: relative;*/
    /*top: 50%;*/
    /*max-width: 960px;*/
    /*margin: 0 auto*/
/*}*/

/*.popup-search-wrapper form input {*/
    /*margin: 0;*/
    /*width: calc(100% - 80px);*/
    /*text-align: center;*/
    /*font-size: 48px;*/
    /*font-weight: 300;*/
    /*height: auto;*/
    /*min-height: 40px*/
/*}*/

/*.popup-search-wrapper form input,*/
/*.popup-search-wrapper form input:focus:not([readonly]) {*/
    /*box-shadow: none;*/
    /*border: 0*/
/*}*/

/*.popup-search-wrapper form input,*/
/*.popup-search-wrapper form button[type="submit"] {*/
    /*vertical-align: middle*/
/*}*/

/*.popup-search-wrapper form button[type="submit"] {*/
    /*position: absolute;*/
    /*top: 7px;*/
    /*right: 0*/
/*}*/

/*.popup-search-wrapper .popup-close {*/
    /*position: absolute;*/
    /*top: 15px;*/
    /*right: 15px;*/
    /*cursor: pointer*/
/*}*/

/*@media only screen and (max-width: 992px) {*/
    /*.popup-search-wrapper {*/
        /*padding: 20px*/
    /*}*/
    /*.popup-search-wrapper form input {*/
        /*font-size: 24px*/
    /*}*/
    /*.popup-search-wrapper form button[type="submit"] {*/
        /*top: 0*/
    /*}*/
/*}*/

/*.input-field.quantity-counter {*/
    /*height: 40px;*/
    /*margin: 0*/
/*}*/

/*.input-field.quantity-counter input[type=number],*/
/*.input-field.quantity-counter .remove,*/
/*.input-field.quantity-counter .add {*/
    /*height: 40px;*/
    /*line-height: 40px;*/
    /*vertical-align: top*/
/*}*/

/*.input-field.quantity-counter input[type=number] {*/
    /*width: 50px;*/
    /*margin: 0;*/
    /*text-align: center;*/
    /*box-shadow: none;*/
    /*border: 0;*/
    /*-moz-appearance: textfield*/
/*}*/

/*.input-field.quantity-counter input[type=number]::-webkit-outer-spin-button,*/
/*.input-field.quantity-counter input[type=number]::-webkit-inner-spin-button {*/
    /*-webkit-appearance: none;*/
    /*margin: 0*/
/*}*/

/*.input-field.quantity-counter label {*/
    /*font-size: .8rem*/
/*}*/

/*.input-field.quantity-counter .remove,*/
/*.input-field.quantity-counter .add {*/
    /*cursor: pointer;*/
    /*user-select: none;*/
    /*transition: color .2s*/
/*}*/

/*.input-field.quantity-counter .remove:hover,*/
/*.input-field.quantity-counter .add:hover {*/
    /*color: #888*/
/*}*/

/*.input-field.quantity-counter.disabled>*,*/
/*.input-field.quantity-counter .disabled {*/
    /*color: #aaa;*/
    /*pointer-events: none*/
/*}*/

/*nav .categories-wrapper .categories:not(.indicators)>li::before,*/
/*nav .categories-wrapper .categories li>.select-wrapper::before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: auto;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 8px;*/
    /*border-radius: 32px;*/
    /*height: 32px;*/
    /*background-color: rgba(0, 0, 0, 0.2);*/
    /*transition: background .2s, opacity .2s*/
/*}*/

/*nav .nav-header h1 {*/
    /*text-transform: uppercase*/
/*}*/

/*nav .nav-extended .nav-header {*/
    /*min-height: 150px*/
/*}*/

/*nav .brand-logo img {*/
    /*max-height: 64px*/
/*}*/

/*nav .user-account .circle {*/
    /*margin-right: 10px*/
/*}*/

/*nav .circle {*/
    /*vertical-align: middle;*/
    /*height: 32px;*/
    /*width: 32px*/
/*}*/

/*nav .categories-wrapper .categories {*/
    /*height: 48px;*/
    /*line-height: 48px;*/
    /*overflow-x: auto;*/
    /*overflow-y: hidden*/
/*}*/

/*nav .categories-wrapper .categories[data-filter="variant"] {*/
    /*overflow-x: initial;*/
    /*overflow-y: initial*/
/*}*/

/*nav .categories-wrapper .categories:not(.indicators)>li {*/
    /*position: relative;*/
    /*height: inherit;*/
    /*line-height: inherit;*/
    /*margin-right: 10px*/
/*}*/

/*nav .categories-wrapper .categories:not(.indicators)>li a:hover {*/
    /*background-color: transparent*/
/*}*/

/*nav .categories-wrapper .categories:not(.indicators)>li::before {*/
    /*background-color: transparent*/
/*}*/

/*nav .categories-wrapper .categories:not(.indicators)>li:hover::before,*/
/*nav .categories-wrapper .categories:not(.indicators)>li.active::before {*/
    /*background-color: rgba(0, 0, 0, 0.2)*/
/*}*/

/*nav .categories-wrapper .categories:not(.indicators)>li:hover::before {*/
    /*background-color: rgba(0, 0, 0, 0.1)*/
/*}*/

/*nav .categories-wrapper .categories:not(.indicators)>li.active a {*/
    /*color: #fff*/
/*}*/

/*nav .categories-wrapper .categories:not(.indicators)>li a {*/
    /*position: relative;*/
    /*color: rgba(255, 255, 255, 0.8)*/
/*}*/

/*nav .categories-wrapper .categories li>.select-wrapper:hover::before {*/
    /*background-color: rgba(0, 0, 0, 0.1)*/
/*}*/

/*nav .categories-wrapper .categories li>.select-wrapper input {*/
    /*width: 120px;*/
    /*box-sizing: border-box;*/
    /*margin: 0;*/
    /*padding: 0 15px;*/
    /*border: 0;*/
    /*height: 48px;*/
    /*line-height: 48px*/
/*}*/

/*nav .categories-wrapper .categories li>.select-wrapper .caret {*/
    /*color: #fff;*/
    /*right: 15px*/
/*}*/

/*nav .categories-wrapper .categories li>.select-wrapper .dropdown-content>li {*/
    /*border-radius: 0;*/
    /*text-align: left*/
/*}*/

/*nav .categories-wrapper .categories li>.select-wrapper .dropdown-content>li::before {*/
    /*display: none*/
/*}*/

/*nav .categories-wrapper .categories li>.select-wrapper .dropdown-content>li>span {*/
    /*font-size: 1rem*/
/*}*/

/*#placeholder-navbar .back-btn {*/
    /*cursor: pointer*/
/*}*/

/*main nav .categories-wrapper {*/
    /*height: auto*/
/*}*/

/*main nav .categories-wrapper .categories-container {*/
    /*overflow: initial*/
/*}*/

/*.side-nav .collapsible-header i {*/
    /*margin: 0*/
/*}*/

/*.side-nav .user-account-collapsible {*/
    /*background-color: #7db557*/
/*}*/

/*.side-nav .user-account-collapsible .collapsible-header {*/
    /*padding: 0*/
/*}*/

/*.side-nav .user-account-collapsible .collapsible-header:hover {*/
    /*background-color: transparent*/
/*}*/

/*.side-nav .user-account-collapsible .collapsible-header .userView {*/
    /*margin-bottom: 0*/
/*}*/

/*.gallery-dark-theme nav .nav-wrapper>ul>li {*/
    /*margin: 14px 7px*/
/*}*/

/*.gallery-dark-theme nav ul:not(.indicators) li:hover .badge {*/
    /*opacity: 1*/
/*}*/

/*.gallery-dark-theme nav ul:not(.indicators) li .badge {*/
    /*opacity: .5;*/
    /*transition: opacity .3s*/
/*}*/

/*.gallery-dark-theme nav .categories-wrapper li>.select-wrapper::before {*/
    /*background: linear-gradient(to bottom right, #3acfd5, #3a8ed5)*/
/*}*/

/*.gallery-dark-theme nav .categories-wrapper .categories-container.pinned .categories>li a {*/
    /*color: #444*/
/*}*/

/*.gallery-dark-theme nav .categories-wrapper .categories-container.pinned .categories>li.active a,*/
/*.gallery-dark-theme nav .categories-wrapper .categories-container.pinned .categories>li:hover a {*/
    /*color: #fff*/
/*}*/

/*.gallery-dark-theme .side-nav {*/
    /*background-color: #37474f*/
/*}*/

/*.gallery-dark-theme .side-nav a {*/
    /*color: rgba(255, 255, 255, 0.87)*/
/*}*/

/*.gallery-dark-theme .side-nav .collapsible {*/
    /*background-color: inherit*/
/*}*/

/*.gallery-dark-theme .side-nav .collapsible .collapsible-header {*/
    /*color: rgba(255, 255, 255, 0.87)*/
/*}*/

/*.gallery-dark-theme .side-nav .collapsible .collapsible-body {*/
    /*background-color: rgba(0, 0, 0, 0.1)*/
/*}*/

/*.gallery-dark-theme .side-nav .user-account-collapsible {*/
    /*background-color: rgba(0, 0, 0, 0.1)*/
/*}*/

/*.gallery-dark-theme .side-nav .user-account-collapsible .collapsible-header .userView {*/
    /*color: rgba(255, 255, 255, 0.87)*/
/*}*/

/*@media only screen and (min-width: 992px) {*/
    /*.gallery-dark-theme .placeholder #placeholder-navbar {*/
        /*width: 98px*/
    /*}*/
/*}*/

/*.gallery-expand {*/
    /*position: relative*/
/*}*/

/*.gallery-expand[data-fillscreen="true"] .checkout-column {*/
    /*width: 300px*/
/*}*/

/*.gallery-expand[data-fillscreen="true"] .checkout-column ~ .description {*/
    /*width: calc(100% - 340px);*/
    /*float: right*/
/*}*/

/*.gallery-expand .btn,*/
/*.gallery-expand .btn-large {*/
    /*font-size: 1rem;*/
    /*font-weight: normal*/
/*}*/

/*.gallery-header .title {*/
    /*font-size: 1.2rem;*/
    /*display: inline-block;*/
    /*margin-bottom: 20px*/
/*}*/

/*.gallery-header .product-ratings-price {*/
    /*display: flex;*/
    /*justify-content: space-between*/
/*}*/

/*.gallery-body .checkout-column {*/
    /*float: left*/
/*}*/

/*.gallery-body .checkout-column .price-quantity-wrapper label,*/
/*.gallery-body .checkout-column .price-quantity-wrapper .input-field label,*/
/*.gallery-body .checkout-column .variant label {*/
    /*line-height: initial;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*transform: translateY(-100%)*/
/*}*/

/*.gallery-body .checkout-column .variant {*/
    /*position: relative;*/
    /*margin-top: 30px*/
/*}*/

/*.gallery-body .checkout-column .variant label {*/
    /*text-transform: lowercase*/
/*}*/

/*.gallery-body .checkout-column button[type="submit"] {*/
    /*width: 100%*/
/*}*/

/*.gallery-body .description .carousel-wrapper {*/
    /*margin: 0;*/
    /*width: 100%*/
/*}*/

/*.price-quantity-wrapper {*/
    /*position: relative;*/
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*margin: 10px 0*/
/*}*/

/*.price-quantity-wrapper label,*/
/*.price-quantity-wrapper .input-field label {*/
    /*line-height: initial;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*transform: translateY(-100%)*/
/*}*/

/*.price-quantity-wrapper .price-wrapper {*/
    /*height: inherit;*/
    /*line-height: inherit;*/
    /*float: left*/
/*}*/

/*.price-quantity-wrapper .price-wrapper [data-product-price] {*/
    /*font-size: 28px;*/
    /*vertical-align: middle*/
/*}*/

/*.price-quantity-wrapper .price-wrapper [data-compare-price] {*/
    /*font-size: 16px;*/
    /*vertical-align: middle;*/
    /*color: rgba(0, 0, 0, 0.6)*/
/*}*/

/*.price-quantity-wrapper .quantity-counter {*/
    /*height: inherit;*/
    /*line-height: inherit;*/
    /*float: right*/
/*}*/

/*.price-quantity-wrapper .quantity-counter label {*/
    /*right: 0;*/
    /*left: auto*/
/*}*/

/*.price-quantity-wrapper .quantity-counter input[type=number],*/
/*.price-quantity-wrapper .quantity-counter .remove,*/
/*.price-quantity-wrapper .quantity-counter .add {*/
    /*vertical-align: middle*/
/*}*/

/*.gallery-item.active .gallery-overlay {*/
    /*display: none*/
/*}*/

/*.gallery-overlay {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*z-index: 2;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*opacity: 0;*/
    /*transition: background-color .2s, opacity .2s*/
/*}*/

/*.gallery-overlay:hover {*/
    /*background-color: rgba(0, 0, 0, 0.4);*/
    /*opacity: 1*/
/*}*/

/*.gallery-overlay:hover .overlay-header {*/
    /*transform: scale(1)*/
/*}*/

/*.gallery-overlay .overlay-header {*/
    /*font-size: 36px;*/
    /*text-align: center;*/
    /*color: #fff;*/
    /*transform: scale(0.5);*/
    /*transition: transform .2s*/
/*}*/

/*.gallery-overlay .overlay-header .price,*/
/*.gallery-overlay .overlay-header .spr-badge {*/
    /*font-size: 14px;*/
    /*display: block*/
/*}*/

/*.gallery-overlay .overlay-header .spr-badge {*/
    /*margin-top: 5px*/
/*}*/

/*body:not(.gallery-dark-theme) .col .gallery-overlay {*/
    /*left: .75rem;*/
    /*right: .75rem*/
/*}*/

/*.product-standalone {*/
    /*margin-bottom: 20px*/
/*}*/

/*.product-standalone.gallery .col {*/
    /*padding: 0 .75rem*/
/*}*/

/*.product-standalone .gallery-body {*/
    /*display: block;*/
    /*position: relative;*/
    /*margin: 20px 0 0 0;*/
    /*width: auto;*/
    /*background-color: transparent*/
/*}*/

/*.product-standalone .gallery-body .checkout-column {*/
    /*float: none;*/
    /*margin-top: 40px*/
/*}*/

/*.product-standalone .gallery-body .carousel-wrapper {*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
    /*width: 100%*/
/*}*/

/*.gallery-dark-theme .product-standalone {*/
    /*color: rgba(255, 255, 255, 0.87)*/
/*}*/

/*.gallery-dark-theme .product-standalone .spr-container {*/
    /*border-color: transparent;*/
    /*background-color: rgba(255, 255, 255, 0.1)*/
/*}*/

/*.gallery-dark-theme .overlay-title {*/
    /*font-weight: 300*/
/*}*/

/*@media only screen and (max-width: 992px) {*/
    /*.gallery-body .checkout-column,*/
    /*.gallery-expand[data-fillscreen="true"] .gallery-body .checkout-column {*/
        /*width: 100%;*/
        /*margin-bottom: 20px*/
    /*}*/
    /*.gallery-expand[data-fillscreen="true"] .gallery-body .description {*/
        /*width: 100%;*/
        /*float: none*/
    /*}*/
/*}*/

/*.template-cart .cart-container .gallery-collection .gallery-item {*/
    /*margin-bottom: 20px*/
/*}*/

/*.template-cart .cart-container .gallery-collection .gallery-item .gallery-cover {*/
    /*height: 200px;*/
    /*width: 250px*/
/*}*/

/*.template-cart .cart-container .gallery-collection .gallery-item .gallery-cover>.background {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*background-size: cover;*/
    /*background-position: center*/
/*}*/

/*.template-cart .cart-container .gallery-collection .gallery-item .gallery-header {*/
    /*cursor: initial*/
/*}*/

/*.template-cart .cart-container .gallery-collection .gallery-item .gallery-header h4 {*/
    /*margin: 0 0 20px 0*/
/*}*/

/*.template-cart .cart-container .gallery-collection .gallery-item .gallery-header .remove-item-from-cart {*/
    /*box-shadow: none*/
/*}*/

/*.template-cart .cart-container .gallery-collection .gallery-item .gallery-header .price-quantity-wrapper {*/
    /*margin: 0*/
/*}*/

/*.template-cart .cart-container .gallery-collection .gallery-item .gallery-header .price-quantity-wrapper label {*/
    /*transform: translateY(-5px)*/
/*}*/

/*.template-cart .cart-container .gallery-collection .gallery-item .gallery-header .price-quantity-wrapper .price {*/
    /*font-size: 14px*/
/*}*/

/*.template-cart .cart-container .cart-summary {*/
    /*color: #999;*/
    /*padding: 0 20px*/
/*}*/

/*.template-cart .cart-container .cart-summary h4 {*/
    /*color: #444;*/
    /*font-weight: 300;*/
    /*margin-top: 0*/
/*}*/

/*.template-cart .cart-container .cart-summary .cart-notes {*/
    /*margin-top: 20px*/
/*}*/

/*.template-cart .cart-container .cart-summary .subtotal span,*/
/*.template-cart .cart-container .cart-summary .subtotal .price {*/
    /*color: #444;*/
    /*font-size: 14px;*/
    /*font-weight: 600*/
/*}*/

/*.template-cart .cart-container .cart-summary .subtotal .price {*/
    /*font-size: 16px;*/
    /*float: right*/
/*}*/

/*.template-cart .cart-container .cart-summary .btn-large {*/
    /*width: 100%;*/
    /*margin-top: 15px*/
/*}*/

/*.variant-remove-item-wrapper {*/
    /*position: relative;*/
    /*height: 43px*/
/*}*/

/*.variant-remove-item-wrapper .variant {*/
    /*float: left*/
/*}*/

/*.variant-remove-item-wrapper .remove-item-from-cart {*/
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0*/
/*}*/

/*.gallery-dark-theme.template-cart .cart-container .cart-summary {*/
    /*color: #aaa*/
/*}*/

/*.gallery-dark-theme.template-cart .cart-container .cart-summary h4,*/
/*.gallery-dark-theme.template-cart .cart-container .cart-summary .subtotal span,*/
/*.gallery-dark-theme.template-cart .cart-container .cart-summary .subtotal .price {*/
    /*color: #eee*/
/*}*/

/*@media only screen and (max-width: 600px) {*/
    /*.template-cart .cart-container .gallery-collection .gallery-curve-wrapper {*/
        /*display: block*/
    /*}*/
    /*.template-cart .cart-container .gallery-collection .gallery-item .gallery-cover,*/
    /*.template-cart .cart-container .gallery-collection .gallery-item .gallery-cover img {*/
        /*max-height: none;*/
        /*max-width: none;*/
        /*width: 100%*/
    /*}*/
/*}*/

/*.template-blog h2,*/
/*.template-article h2 {*/
    /*font-size: 40px*/
/*}*/

/*.template-blog .author,*/
/*.template-article .author {*/
    /*margin: 20px 0 0 0;*/
    /*font-weight: 600;*/
    /*font-size: 1rem*/
/*}*/

/*.template-article article {*/
    /*margin: 40px 0*/
/*}*/

/*#comments .comment p {*/
    /*font-size: 1.2rem;*/
    /*margin: 0;*/
    /*font-weight: 300*/
/*}*/

/*.gallery-dark-theme.template-article article {*/
    /*color: rgba(255, 255, 255, 0.87)*/
/*}*/

/*.gallery-dark-theme.template-article article #comments .comment {*/
    /*color: rgba(255, 255, 255, 0.87)*/
/*}*/

/*.gallery-dark-theme .article-wrapper h2 {*/
    /*color: #fff*/
/*}*/

/*.gallery-dark-theme .article-wrapper .rte,*/
/*.gallery-dark-theme .article-wrapper .blog-author {*/
    /*color: rgba(255, 255, 255, 0.87)*/
/*}*/

/*.gallery-dark-theme #comments .comment {*/
    /*color: rgba(0, 0, 0, 0.87)*/
/*}*/

/*.login-wrapper.card {*/
    /*margin-bottom: 40px*/
/*}*/

/*.login-wrapper.card h4 {*/
    /*margin: 0 0 20px 0*/
/*}*/

/*.login-wrapper.card .errors {*/
    /*color: #b71c1c;*/
    /*margin-bottom: 20px*/
/*}*/

/*.login-wrapper.card input[type="submit"] {*/
    /*width: 100%*/
/*}*/

/*.login-wrapper.card #RecoverPassword,*/
/*.login-wrapper.card #HideRecoverPasswordLink {*/
    /*display: inline-block;*/
    /*font-size: 14px;*/
    /*margin-top: 15px*/
/*}*/

/*.row.address {*/
    /*margin-bottom: 0*/
/*}*/

/*.row.address .input-field {*/
    /*margin-top: 30px*/
/*}*/

/*.template-addresses .card-action .btn {*/
    /*box-shadow: none*/
/*}*/

/*.gallery-dark-theme .orders-wrapper,*/
/*.gallery-dark-theme .responsive-table,*/
/*.gallery-dark-theme.template-order .date,*/
/*.gallery-dark-theme .contact-form input,*/
/*.gallery-dark-theme .contact-form textarea,*/
/*.gallery-dark-theme #MainContent>.container>h3 {*/
    /*color: rgba(255, 255, 255, 0.87)*/
/*}*/

/*#shopify-product-reviews {*/
    /*font-size: 1rem;*/
    /*clear: none !important*/
/*}*/

/*#shopify-product-reviews .spr-container {*/
    /*border-radius: 2px*/
/*}*/

/*#shopify-product-reviews .spr-form-input .spr-form-input-textarea {*/
    /*background-color: transparent;*/
    /*border: none;*/
    /*border-bottom: 1px solid #9e9e9e;*/
    /*border-radius: 0;*/
    /*outline: none;*/
    /*padding: 14px 0 0 0*/
/*}*/

/*#shopify-product-reviews .spr-form-actions .spr-button-primary {*/
    /*box-shadow: none;*/
    /*width: 100%;*/
    /*height: 54px;*/
    /*line-height: 54px;*/
    /*font-size: 1rem;*/
    /*font-weight: 400*/
/*}*/

/*#shopify-product-reviews .spr-form-actions .spr-button-primary:hover {*/
    /*box-shadow: none*/
/*}*/

/*.spr-badge .spr-badge-caption {*/
    /*display: none*/
/*}*/